.cp-edit-table__header,
.cp-edit-table__row,
.cp-edit-table__header-col {
	height: 28px;
}

.cp-edit-table__blank,
.cp-edit-table__header,
.cp-edit-table__header-col,
.cp-edit-table__modify-row,
.cp-edit-table__modify-col,
.cp-edit-table__element {
	min-width: 80px;
	height: 28px;
	display: inline-block;
	vertical-align: top;
}

.cp-edit-table__modify-row,
.cp-edit-table__modify-col {
	text-align: center;
	font-size: 20px;
	font-weight: bold;
}

.cp-edit-table__modify-row a,
.cp-edit-table__modify-col a {
	display: inline-block;
	text-decoration: none;
}

.cp-edit-table__modify-row a:first-child,
.cp-edit-table__modify-col a:first-child {
	margin-right: 8px;
}

.cp-edit-decition-table__input {
	margin: 2px 0 0 2px;
	width: 76px;
	height: 24px;
}

.cp-edit-table__header {
	border-bottom: 2px solid #dfdfdf;
	height: 30px;
}

.cp-edit-table__header-col {
	border-right: 2px solid #dfdfdf;
	width: 82px;
}

.cp-edit-table__body {
	display: inline-block;
}

.cp-edit-table__add-col {
	display: inline-block;
	vertical-align: top;
	position: relative;
}

.cp-edit-table__add-row {
	text-align: center;
}
